.calculation {
  font-size: 45px;
  margin-bottom: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-radius: 30px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

button.operator {
  background-color: #fea00a;
}


.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 260px;
}


.clear-btn {
  grid-column: span 4;
}


@media (max-width: 400px) {
  button {
    width: 100%;
    height: 60px;
  }
  .calculator-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    padding: 0 10px;
  }
}
